@import 'vars';


.checkout{
    margin: 0 auto;
    width: 1400px;
}

.checkout-items {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.card{
    width: 100%;
    border-radius: 10px;
    background-color: var(--hospital-green);
    display: inline-flex; 
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    border: 3px solid var(--very-light-pink);
    text-align: center;
}



.titulo-calendario{
    margin-bottom: 9px;
}

.btn-inscripcion {
    text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--very-light-pink);
	padding: 15px 40px;
	border-radius: 8px;
    background-color: var(--white);
    margin-top: 10%;
    font-size: large;
}

.card-content :disabled {
    background-color: var(--very-light-pink);
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-confirmar-gripe{
    text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--very-light-pink);
	padding: 2px 10px;
	border-radius: 8px;
    background-color: var(--white);
    margin-top: 5px;
    font-size: small;
}

.card-content{
    color:var(--white);
    height: 350px;
}

.fecha-container-covid {
    margin-top: -15px;
}

.formPersonalCampaign {
    display: flex;
    align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.formPersonalCampaign .labelDecision{
	padding: 6px 30px;
	border-radius: 20px;
	border: 2px solid #ccc;
  }
  
  .boxDecision:checked + label{
	background: var(--white);
	color: var(--very-light-pink);
	border: 2px solid var(--hospital-green);
  }
  
  .boxDecision{
	display: none;
  }
