@import 'vars';

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
	background-color: var(--hospital-green);
}
.menu {
	display: none;
}
.nav-logo-header {
	width: 50px;
	padding: 5px;
	align-self: center;
}
.logo-container-header{
	display: flex;
	align-items: center;

}

.nombre-logo-header {
	margin-top: -5px;
	color: var(--white);
	font-size: var(--lg);
	text-decoration: none;
	text-align: center;
}

.navbar-left-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 640px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}
