@import 'vars';

.history-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    place-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.history-container h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / 3;
}

.history-container h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.history-vacunatorio {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.history-other {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.history-table-container {
    background-color: var(--hospital-green);
    width: 80%;
    border-radius: 15px;
    border: 3px solid var(--very-light-pink);
}


.history-table-container th{
    text-align: center;
    font-size: 1.8rem;
}

.history-table-container td{
    text-align: center;
    font-size: 1.4rem;
}
