@import 'vars';

.MyAccount {
	width: 100%;
	height: 100vh;
	display: flex;
	place-items: center;
	color: black;
	place-content: space-around;
}
.MyAccount-container {
	margin-top: 50px;
	margin-left: 150px;
	display: grid;
	grid-column: 1 / 2;
	grid-template-rows: auto 1fr auto;
	width: 300px;
	justify-content: space-between;
	background-color: var(--white);
	padding: 30px;
	border-radius: 10px;
	border: 3px solid var(--very-light-pink);
	align-self: start;
	
}
.card-myaccount{
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	padding: 30px;
	border-radius: 10px;
	border: 3px solid var(--very-light-pink);
	align-self: start;
}

.card-content-myaccount{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -15px;
}

.card-content-myaccount button {
	text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--very-light-pink);
	padding: 2px 10px;
	border-radius: 8px;
	background-color: var(--white);
	font-size: small;
}

.vacunas-container{
	width: 50%;
	align-self: start;
	margin-top: 50px;
}



.calendario-covid {
	margin-top: 20px;
	background-color: var(--hospital-green);
}

.container-fecha{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: -15px;
}

.container-fecha div{
	text-align: center;
	display: flex;
}

.titulo-container-fecha-account{
	margin-right: 15px;
}

.title {
	font-size: 30px;
	margin-bottom: 36px;
	margin-top: -10px;
	text-align: center;
}
.form {
	display: flex;
	flex-direction: column;
}
.form div {
	display: flex;
	flex-direction: column;
}
.label {
	font-size: var(--sm);
	font-weight: bold;
	margin-bottom: 4px;
}
.value {
	color: var(--very-light-pink);
	font-size: var(--md);
	margin: 8px 0 32px 0;
	width: 230px;
	height: 20px;
	margin: auto;
	border-radius: 5px;
	transition: width 0.8s ease-in-out;
}
.value:disabled {
	background-color: var(--very-light-pink);
	color: var(--white);
	width: 200px;
}

.secondary-button {
	background-color: var(--white);
	border-radius: 8px;
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
.login-button-my-account {
	margin-top: 30px;
	margin-bottom: 30px;
}


.edit-button {
	width: 50px;
	height: 30px;
	margin: auto;
	border-radius: 50%;
	font-size: xx-small;
}

.form .div-email {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.formPersonalAccount {
	display: flex;
	  align-items: center;
	justify-content: center;
  }
  
  
  .formPersonalAccount .labelDecision{
	padding: 6px 30px;
	border-radius: 20px;
	border: 2px solid #ccc;
  }
  
  .boxDecision:checked + label{
	background: var(--hospital-green);
	color: var(--white);
	border: 2px solid var(--very-light-pink);
  }

  .boxDecision:disabled + label{
	background: var(--very-light-pink);
	color: var(--white);
	border: 2px solid var(--hospital-green);
  }
  
  .boxDecision{
	display: none;
  }

  .lista {
	  list-style: none;
	  margin-top: 10px;
	  text-align: center;
	  padding: 5px;
  }

  .spanEdad {
	  margin-top: 25px;
	  text-align: center;
	  font-size:large;
  }

  .spanDosis {
	  margin: 20px 0px;
	  text-align: center;
	  font-size: large;
	  
  }

  .datePicker {
	  margin-top: 25px;
	  background-color: var(--hospital-green);
	  text-align: center;
  }

  .choise-vacunatorio-container {
	display: flex;
	flex-direction: column;
	  margin-top: 25px;
	  text-align: center;
  }

  .choise-vacunatorio-container label {
	  margin-bottom: 10px;
  }

  .choise-vacunatorio-container select {
		background-color: var(--hospital-green);
		border-top: 3px solid var(--very-light-pink);
		border-left: none;
		border-right: none;
		border-bottom: 3px solid var(--very-light-pink);
		margin-bottom: 10px;
  }

  .choise-vacunatorio-container button {
	  margin-bottom: 10px;
	  width: 100%;
	  height: 100%;
	  margin: 0px;
  }



@media (max-width: 640px) {
	.form-container {
		height: 100%;
	}
	.form {
		height: 100%;
		justify-content: space-between;
	}
}
