@import 'vars';

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
	background-color: var(--hospital-green);
}
.menu {
	display: none;
}

.logo-container-nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 50px;

}

.nav-logo {
	width: 50px;
    border-radius: 10px;
	padding: 5px;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
    color: var(--white);
}

.nombre-logo-nav{
	margin-top: -9px;
	color: var(--white);
	font-size: var(--lg);
	text-decoration: none;
	text-align: center;
}

.navbar-left {
	display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right {
	display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-left ul {
	margin-left: -15px;
}
.navbar-left ul .Link,
.navbar-right ul .Link {
    text-decoration: none;
	color: var(--very-light-pink);
	border-top: 3px solid var(--white);
	border-bottom: 3px solid var(--white);
	padding: 15px 20px;
	border-radius: 8px;
    background-color: transparent;
    margin: 0px 5px;
	font-weight: bold;
    box-shadow: 0px 0px 10px 0px var(--white);
    
}
.navbar-left ul .Link:hover,
.navbar-right ul .Link:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
	background-color: var(--white);
}

.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--lg);
	margin-right: 12px;
	cursor: default;
}
.navbar-shopping-cart {
	position: relative;
	font-size: 20px;
	cursor: pointer;
}
.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--hospital-green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
    
}



.menu-container {
	display: flex;
flex-direction: column;
margin-left: 50px;
background-color: var(--very-light-pink);
opacity: 50%;
border: 2px solid var(--white);
border-radius: 15px;
}
.menu-container ul {
	display: flex;
	flex-direction: column;
	place-content: space-around;
	padding: 5px;
}
.menu-container ul li {
	display: flex;
	flex-direction: row;
	place-content: center;
}

.editar {
	margin-right: 5px;
	font-size: 17px;
}
.cerrar-sesion {
	margin-right: 3px;
	font-size: 19px;

}

li b {
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}



@media (max-width: 640px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}