@import 'vars';

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
	background-color: var(--hospital-green);
}
.menu {
	display: none;
}
.nav-logo {
	width: 100px;
	padding: 10px;
    background-color: #2ABA40;
    border-radius: 10px;
    box-shadow: 10px 5px 3px black;
    margin-right: 100px;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
    color: var(--white);
}
.navbar-left {
	display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right {
	display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-left ul {
	margin-left: 12px;
}
.navbar-left ul .Link,
.navbar-right ul .Link {
    text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--white);
	padding: 15px 40px;
	border-radius: 8px;
    background-color: var(--white);
    margin: 0px 5px;
    
}
.navbar-left ul .Link:hover,
.navbar-right ul .Link:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
}
.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--lg);
	margin-right: 12px;
}
.navbar-shopping-cart {
	position: relative;
	font-size: 20px;
}
.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--hospital-green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
    
}
@media (max-width: 640px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}